*,
*:before,
*:after{
  margin: 0;
  padding: 0;
}

html{
  font-size: 62.5%;
}

body{
  box-sizing:border-box;
  // background:blue;
  overflow-x: hidden;
}

.body-container{
  max-width: 140rem;
  display:block;
  margin: 0 auto;
  z-index: initial;
  overflow:hidden;
}

a{
  color:inherit;
  text-decoration:none;
}

.is-active{
  font-weight:bold;
}
