
.explore {

  &-mq{
    display:none;
  }

  display:flex;
  justify-content:center;

  &-header {
    margin: 5rem 0;
    font-size: 4rem;
    font-family: helvetica;
    text-align: center;
  }

  &-car {
    position: relative;
    display:flex;
    flex-direction:column;
    align-items:center;
    cursor: pointer;
    opacity: 0;
  
    &--side {
      display: inline-block;
      max-width: 100%;
    }

    &--front {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }

    &:hover &--front {
      display: inline-block;
    }

    &--info {
      font-size: 1.6rem;
      font-family: tahoma;
      margin-top: 1rem;
      display:flex;
      flex-direction:column;
      align-items:center;
    }
    
    &--model {
      // margin-top: 1rem;
      font-size: 2rem;
      text-transform:uppercase;
    }
    
    &--price,
    &--mileage {
      font-size: 1.6rem;
    } 
    &--price{
      padding: .5rem 0;
    }
  }
}


// .carAnimate{
//   animation: flowLeft 1s;
//   animation-fill-mode: forwards;
//   opacity: 0;
// }

.camryAnimate{
  animation: flowLeft 1s;
  animation-fill-mode: forwards;
  opacity: 0;
  animation-delay: .1s;

}

.t86Animate{
  animation: flowLeft 1s;
  animation-fill-mode: forwards;
  opacity: 0;
  animation-delay: .3s;
}

.corollaAnimate{
  animation: flowLeft 1s;
  animation-fill-mode: forwards;
  opacity: 0;
  animation-delay: .5s;
}

.avalonAnimate{
  animation: flowLeft 1s;
  animation-fill-mode: forwards;
  opacity: 0;
  animation-delay:.7s
}

.yarisAnimate{
  animation: flowLeft 1s;
  animation-fill-mode: forwards;
  opacity: 0;
  animation-delay: .9s;
}


@keyframes flowLeft {
  0%{
    transform: translateX(20%);
    opacity: 0;
 
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
}























// @keyframes carIn{
//   0%{
//     opacity: 0;
//   }
//   100%{
//     opacity: 1;
//   }
// }

@media screen and(max-width: 768px){



  .explore{
    display:none;
    &-car{
      // width: 100%;
      &:hover &--front {
        display: none;
      }
 
    }
  }

 
  .explore{

    &-mq{
      display:flex;
      justify-content:flex-start;
      overflow-x:auto;
      width: 100%;
      &-test{
        
        // width: 100%;
      }
    }
    &-car{
      &--side_mq{
        // display:inline-block;
        // margin: 0 auto;

      }
    }
  }
}

