// .flex{
//   // display:flex;
//   // justify-content:center;
//   // align-items:center;
//   margin: 3rem 0;
//   padding: 0;
//   :hover{
//     padding: 0;
//   }
// }


// // .camrySideShow{
// //   display: block;
// // }

// // .camryFrontHide{
// //   display:none;
// // }

// // .camrySideHide{
// //   display:none;
// // }

// // .camryFrontShow {
// //   display:block;
// // }

.explore {

  display:flex;
  justify-content:center;
//  animation: flowLeft;
  // animation-fill-mode: forwards;

//  opacity: 0;

  &-header {
    margin: 5rem 0;
    font-size: 4rem;
    font-family: helvetica;
    text-align: center;
  }

  &-car {
    position: relative;
    display:flex;
    flex-direction:column;
    align-items:center;
    cursor: pointer;

    
    opacity: 0;
   
    
    



    &--side {
      display: inline-block;
      max-width: 100%;
    }

    &--front {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }

    &:hover &--front {
      display: inline-block;
    }

    &--info {
      font-size: 1.6rem;
      font-family: tahoma;
      margin-top: 1rem;
      display:flex;
      flex-direction:column;
      align-items:center;
    }
    
    &--model {
      // margin-top: 1rem;
      font-size: 2rem;
      text-transform:uppercase;
    }
    
    &--price,
    &--mileage {
      font-size: 1.6rem;
    } 
    &--price{
      padding: .5rem 0;
    }
  }
}






.carAnimate{
  animation: flowLeft 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}













// .exploreAnimation {
//   animation: flowLeft 1s;

// }

// .carAnimation.camry {
//   animation: carIn 1s;
  
//   animation-delay: .2s;
//   opacity: 1;
// }


// .carAnimation.t86 {
//   animation: carIn 1s;
//   animation-delay: 1s;
//   opacity: 1;
// }
// .carAnimation.corolla {
//   animation: carIn 1s;
//   // animation-delay: .4s;
//   // opacity: 1;
// }

// .camry{
//   opacity: 1;
// }


@keyframes flowLeft {
  0%{
    transform: translateX(20%);
    opacity: 0;
 
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
}

// @keyframes carIn{
//   0%{
//     opacity: 0;
//   }
//   100%{
//     opacity: 1;
//   }
// }