

.nav{
  position:relative;

  &-container{
    display:flex;
    align-items:center;
    justify-content: space-between;
  }


  padding: 1rem;
  font-size: 2rem;
  max-width: 1247px;
  min-width: 1247px;

  &-logo{
    width: 15rem;
    margin: 0 10rem;
  }
  &-links{
    margin: 0 10rem;
    display:flex;
  }

  &-link{
    text-decoration: none;
    padding: 0 1rem;

    &--arrow{
      display:flex;
      align-items:center;
    }
  }
}

.menu{
  position:absolute;
  left: 0;
  // width: 100vw;
  // height: 100vh;
  z-index: 3;

}

.menu-open{
  // display:block;
  width: 100%;
  height: 100vh;
  transition: .5s;
  animation: menuOpen .4s;
  animation-fill-mode: forwards;
  background: black;
  color: white;

}
.menu-closed{
  height: 0;
  transition: .5s;
  animation: menuClosed .4s;
  animation-fill-mode: forwards;
  background: black;
  color: white;

}

@keyframes menuOpen {
  0%{
    height: 0;
  }
  100%{
    height: 100vh;
  }
}

@keyframes menuClosed{
  0%{
    height: 100vh;
  }
  100%{
    height: 0;

  }

}
.menu-items--show{
  display:flex;
}
.menu-items--hidden{
  display:none;
}