

.nav{
  position:relative;
  padding: 1rem;
  border-bottom: $border;
  z-index: 1;

  &-container{
    display:flex;
    align-items:center;
    justify-content: space-between;
    
  }


  
  font-size: 2rem;
  // max-width: 1247px;
  // min-width: 1247px;

  &-logo{
    width: 15rem;
    margin: 0 10rem;
  }
  &-links{
    margin-right: 20rem;
    display:flex;
  }

  &-link{
    text-decoration: none;
    padding: 0 1rem;

    &--arrow{
      display:flex;
      align-items:center;
    }
  }
}
