$background: rgb(240, 236, 236);

.search{
  background: $background;
  &-input{
    width: 50%;
    padding-top: 4rem;
    border:none;
    border-bottom: 1px solid rgb(190, 6, 6);
    display:block;
    margin: 0 auto;
    font-size: 2rem;

    @media screen and(max-width: 768px){
      width: 100%;
      margin: 0 5%;
    }

    &::placeholder{
      color:red;
    }

    &:focus{
      outline:transparent;
    }
  }
  &-input{
    background: $background;
  }

  &-spacing{
    margin: 5rem 25% 2rem 25%;
    padding: 5rem;
    height: 100vh;
    
    @media screen and(max-width:768px){
      margin: 0;
    }
  }

  &-container{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
   
    font-family: tahoma;
    border: 2px solid $light-gray;
    border-radius: 2rem;

  
  }
  &-title{
    font-size:5rem;
    text-transform:uppercase;
    font-weight:bold;


    @media screen and(max-width: 600px){
      font-size: 3rem;
    }

    &-flex{
      display:flex;
      align-items:center;
      margin-bottom: 3rem;
    }
    &--year{
      font-size: 3rem;

      @media screen and(max-width: 600px){
        font-size: 2rem;
      }

      &:hover{
        cursor:context-menu;
      }
    }

  }

  &-img{
    width: 50rem;
    border:2px solid transparent;

    @media screen and(max-width: 600px){
      width: 30rem;
    }

    &:hover{
      border:2px solid red;
      cursor:pointer;
    }
  }

  &-price{
    font-size: 3rem;
    margin-top: 3rem;
   }
}


.hide{
  opacity: 0;
}

.show{
  opacity: 1;
}

