@import "../mixins/button";

.slideshow{
    width: 100%;
    position:relative;
    z-index: 1;

  &-bg{
    // background-image: url("../relativeImages/slideshow/background.jpg");
    // opacity: 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    // width: 100%;
    height: 60vh;
    position:relative;
    z-index: 0;

    display:flex;
    align-items:center;

    animation: bgShow .3s;
    animation-fill-mode: forwards;
  }
  

  &-container{
    width: 30%;
    background: rgba(221, 218, 218, 0.877);
    // opacity: 0;
 
    
    margin-left: 5%;

    &:last-child{
      display:none;
    }
  }
  &-padding{
    padding: 3rem;
    opacity: 0;
    animation: show 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
  }

  &-title{
    display:flex;
    justify-content:center;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-family: sans-serif;

    &--car{
      font-weight:bold;
    }
  }

  &-header{
    color:rgb(196, 10, 10);
    text-align:center;
    font-size: 2.5rem;
    font-weight:bold;
    font-family: verdana;
    text-transform: uppercase;
    margin: 0 0 2rem 0;
  }
  &-misc{
    color: gray;
    font-size: 1.2rem;
    font-weight:bold;
    font-family: tahoma;
    // margin: 1rem 0 2rem 5%;
    // padding: 0 0 3% 0;
    margin: 3rem;
    text-align:center;
  }
    

  &-flex{
    display:flex;
    align-items:center;
    margin-left: 5%;

    &-box{
      display:flex;
      flex-direction: column;
      justify-content:center;
      align-items:center;
      padding: 0 1rem;
    }
  }

  &-details{
    color:red;
    font-size: 3rem;
    font-weight:bold;
    font-family: verdana;
    padding: 0 15%;
  }
  &-text{
    color: $light-black;
    font-family:helvetica;
    font-size:1.2rem;
    font-weight:bold;
  }
  &-button{
    display:block;
    margin: 5% auto;
    @include button;
  }

  &-img {
    position:absolute;
    bottom: 10%;
    right: 0;
    // z-index:-1;
    // z-index: 3;
    width: 50rem;
    animation: center 1s;
    animation-fill-mode: forwards;
  }

&-prev,
&-next{
  opacity: 0;
  position:absolute;
  height: 100%;
  width: 4rem;
  background:rgba(0, 0, 0, 0.329);
  outline:none;
  border:none;
  transition: .3s;
}

  &-prev{
    left: 0;
  }
  &-next{
    right: 0;
  }
  &-prev:hover,
  &-next:hover{
    opacity: 1;
    background: black;
    transition: .3s;
    color:white;
  }
}

.fa-arrow-left,
.fa-arrow-right{
  padding: 0;
}

@keyframes bgShow{
  0%{
    opacity:0
  }
  100%{
    opacity: 1;
  }
}


@keyframes center{
  0%{
    transform:translateX(120%);
  }
  100%{
    transform: translateX(-50%);
  }
}

@keyframes show{
  0%{
    opacity: 0;
  }
  75%{
    opacity: 1;
  }
  100%{
    opacity: 1;
  }
}










  @media screen and(min-width: 1440px){
    .slideshow-img{
      width: 70rem;
    }

    @keyframes center{
      0%{
        transform:translateX(120%);
      }
      100%{
        transform: translateX(-20%);
      }
    }
  }
