@import "../mixins/button";


.ReactModalPortal .ReactModal__Overlay {
  display:flex;
  justify-content: center;
  align-items:center;
  // transition: opacity 200ms ease-in-out;
  background-color:rgba(0, 0, 0, 0.568) !important;
}

// .ReactModalPortal{
//   background: blue !important;
// }

.ReactModalPortal .ReactModal__Overlay--after-open{
  position:relative;
  z-index: 3;
}


.modal{
  background: white;
  max-width: 75%;
  max-height: 75%;
  overflow-y:scroll;
  @media screen and(min-width: 1440px){
    max-width: 50%;
  }
  @media screen and(max-width: 768px){
    max-width: 100%;
  }
  

  &-header{
    display:flex;
    justify-content:space-between;
    padding: 2rem;
    border-bottom: $border;
    position:relative;

    &--text{
      font-size: 2rem;
    }
    &--close{
      background:black;
      color:white;
      border:none;
      border-radius: 100%;
      padding: 1rem 1.5rem;
      cursor:pointer;
      transition:.3s;
      &:hover{
        background:red;
        transition:.3s;
      }
    }
  }

  &-main{
    display:flex;
    justify-content:space-between;
    padding: 2rem 4rem;
    font-size: 1.6rem;
    font-family:tahoma;

    @media screen and(max-width: 768px){
      align-items:center;
      padding: 2rem 2rem;
    }
    @media screen and(max-width: 400px){
      align-items:center;
      padding: 2rem 1rem;
    }

    &--info{
      text-transform:uppercase;
    }
    &--lease{
      font-size: 1.4rem;
      margin-bottom: 2rem;
      @media screen and(max-width: 768px){
        margin-bottom: .5rem;
      }
      
    }
    &--title{
      font-size: 2.4rem;
      font-family: Arial, Helvetica, sans-serif;
      font-weight:bold;
      @media screen and(max-width: 500px){
        font-size: 1.6rem;
      }
      
    }
    &--spec{
      margin-bottom: 2rem;
    }
    &--exp{
      color:gray;
      font-size: 1.2rem;
      font-weight:bold;
    }
    &--img{
      width: 40rem;
      margin-right: 4rem;

      @media screen and(max-width: 768px){
        width: 25rem;
        margin-right: 1rem;
      }
      @media screen and(max-width: 600px){
        width: 20rem;
      }

      @media screen and(max-width: 400px){
        width: 18rem;
      }
    }
  }


  &-pricing{
    // display:flex;
    // align-items:center;
    background:rgb(240, 237, 237);

    &--flex{
      display:flex;
      justify-content: space-between;
      width: 90%;
      padding: 2rem 0;
      flex-wrap: wrap;
    }
    &--flexPricing{
      display:flex;
    }

    &--container{
      border-right: 2px solid black;
    }

    &--container,
    &--container2{
      padding: 0 2rem;
    }

    &--cash{
      font-size:2.4rem;
      font-weight:bold;
    }
    &--details{
      font-size: 1.2rem;
      font-family:helvetica;
      font-weight:bold;
      color:rgb(82, 78, 78);
    }

    &--button{
      // width: 30%;
      @include buttonRed;
    }
  }

  // &-offer{
  //   display:flex;
  //   justify-content: space-between;
  //   align-items:center;
  //   padding: 0 2rem;
  //   &--text{
  //     font-size: 1.4rem;
  //     font-family: tahoma;
  //     font-weight:bold;
  //     color:rgb(49, 48, 48);
  //     text-transform: uppercase;
  //     // margin-left: 5rem;
  //   }

  //   &--container1{
  //     padding: 2rem 0;
  //   }
  //   &--container2{

  //     display:flex;
  //     flex-direction:column;
  //     justify-content: center;
  //     align-items:center;
  //   }
  //   &-button{
  //     @include buttonGray;
  //     // margin: 3rem 0;
  //     margin: 2rem 0;

  //     &-text{
  //       color:black;
  //     }
  //   }

  // }

  &-offer{
    &--flex{
      display:flex;
      justify-content: space-between;
      width: 90%;
      padding: 2rem 0;
      flex-wrap: wrap;

      @media screen and(max-width: 768px){
        
      }
    }

    &--border{
      border-right: 2px dotted black;

      @media screen and(max-width: 1250px){
        width: 70%;
      }
      @media screen and(max-width: 1000px){
        width: 50%;
      }
      @media screen and(max-width: 768px){
        border-right: none;
      }

    }
    &--details {
      padding: 0 2rem;
      align-self:center;
      // width: 50%;
    }
    &--buttons{
      display:flex;
      flex-direction:column;
      justify-content: space-between;
      align-items:center;

      @media screen and(max-width: 768px){
        margin-top: 3rem;
      }


    }
    &--button{
      @include buttonGray;
      margin-bottom: 2rem;
    }
    &--button2{
      @include buttonGray;
      margin-top:2rem;
    }

  }



  &-finePrint{
    font-family: verdana;
    padding:4rem;
    line-height:2;

    &--header{
      font-size: 1.2rem;
      margin-bottom: 2rem;
    }
  }
}






@media screen and(max-width: 768px){
  .modal{

    &-pricing{
     
      &--flex{
        flex-direction: column;
        align-items:center;
        width: 100%;
        padding-bottom: 3rem;
      }
      &--container{
        margin-bottom: 3rem;
        padding: 0 2rem 0 0;
        
      }
      &--container2{
        padding: 0 0 0 2rem;
      }
      
      &-button{
        &--text{
          font-size: 1.4rem;
        }
      }
    }

    &-offer{

      &--details{
        text-align:center;
      }
    }

  }
}

@media screen and(max-width: 768px){

}

















































  // &-pricing{
  //   display:flex;
  //   // justify-content: space-between;
  //   align-items:center;
  //   // padding: 2rem;
  //   background:rgb(240, 237, 237);

  //   &--cost{
  //     display:flex;
  //     // width: 50%;

  //     &_container{
  //       display:flex;
  //       flex-direction:column;
  //       align-items:center;
  //       justify-content:center;
  //       // padding: 0 1rem;

  //       &-first{
  //         border-right: 1px solid black;

          
  //       }
  //     }
  //   }

  //   &--cash{
  //     font-size:2.4rem;
  //     font-weight:bold;
  //   }
  //   &--perMonth,
  //   &--signing{
  //     font-size: 1.2rem;
  //     font-family:helvetica;
  //     font-weight:bold;
  //     color:rgb(82, 78, 78);
  //   }

  //   // &--button_quote{
  //   //   @include button;
  //   //  }
  //   &-button{
  //     width: 50%;
  //     @include button;
  //   }
  // }



  // &-details{
  //   display:flex;
  //   // justify-content:space-around;
  //   // padding: 2rem;


  //   &--text{
  //     font-size: 1.4rem;
  //     font-family: tahoma;
  //     font-weight:bold;
  //     color:rgb(49, 48, 48);
  //     text-transform: uppercase;
  //     width: 50%;
  //   }

  //   // &--buttons{
  //   //   display:flex;
  //   //   flex-direction:column;
  //   //   border-left: 1px dotted black;
  //   //   padding-left: 7rem;
  //   //   position:relative;
   
  //   //   // &_search,
  //   //   // &_build{
  //   //   //   @include button;
  //   //   //   background:rgb(233, 228, 228);
  //   //   //   color:black;
  //   //   //   margin-bottom: 1rem;
  //   //   // }
  //   // }
  //   &-button{
  //     width: 50%;
  //     @include button;
  //     margin: 3rem 0;
  //   }
  // }
