// .App {
//   background:blue;
// }
.is-active{
  font-weight:bold;
}

.button-colors{
  width: 2rem;
  height: 1rem;
  box-shadow: 2px 1px 3px gray;
}
.white{
  background:white;
}
.black{
  background:black;
}
.gray{
  background:gray;
}
.smoke{
  background:rgb(175, 172, 172);
}
.blue{
  background:blue;
}
.red{
  background:red;
}