$margin3: 3rem;


.supra{
  // background: white;
  // position:absolute;
  // top: 0;
  // width: 100vw;
  // z-index:3;
  padding-top: 3rem;
 
  &-flex{
    display:flex;

  }
  &-container{
    justify-content: space-around;
    align-items:center;
  }

  &-nav{
    align-items:center;

    &--img{
      width: 20rem;
    }
    &--text{
      font-size: 1.6rem;
      margin-left: .5rem;
    }
  }


  &-search{
    align-items:center;
  }


  &-input{
    padding: .5rem;

    &--button{
      background:rgb(221, 2, 2);
      color:white;
      margin-left: .5rem;
      padding: .7rem;
      border: red;

      &:hover{
        background:rgb(252, 20, 20);
        cursor:pointer;
      }
    }
  }


  &-nav2,
  &-nav3{
    justify-content: space-around;
    margin-top: 3rem;
  }
  &-nav2{
    font-size: 1.7rem;
    font-family: arial;
  }
  &-nav3{
    background:rgb(243, 242, 242);
    font-size: 1.3rem;
    font-family: arial;
    border: $border;
    padding: 1rem 0;
  }

  &-body{
    &--flex{
      display:flex;
      margin: 0 10%;
    }
    &--main{
     width: 70%;
     padding-right: 3rem;
    }
    &--social{
      width: 30%;
    }

    &--header{
      position:relative;
      font-size: 3rem;
      font-family: tahoma;
      margin: 3rem 0 0 2rem;
      &::before{
        content:"";
        position: absolute;
        left: -2%;
        width: 1rem;
        height:100%;
        border-left: 3px solid red;
      }
    }
    &--author{
      font-size: 1.6rem;
      margin: 3rem 0;
      font-style:italic;
    }
    &--date{
      font-size: 1.2rem;
      color: gray;
    }
    &--article{
      font-size: 1.6rem;
      font-family: arial;
    }
  }

  &-postBody{
    &--header{
      position:relative;
      font-size: 2.5rem;
      padding-left: 1rem;
      &::before{
        content:"";
        position: absolute;
        left: 0;
        width: 1rem;
        height:100%;
        border-left: 3px solid red;
      }
    }
    &--text{
      font-size: 1.6rem;
    }
  }

  &-aside{
    margin: 3rem 0;
  }
  &-social{
    font-size: 2rem;
  }
  &-fab{
    padding: 0 .5rem;
  }
  &-related{
    font-family: tahoma;
    margin: 3rem 0;
  }

  &-photos{
    &--container{
      padding: .4rem;
      border: 2px solid black;
    }
    &--img{
      width: 100%;
    }
    &--flex{
      display:flex;
      margin-top: 1rem;
    }
    &--small{
      width:8rem;
    }
    &--bottom{
      margin: 0 0 0 1rem;
    }
    &--author{
      font-size: 1.4rem;
    }
    &--social{
      font-size: 1.4rem;
      margin-top: 1rem;
    }
  }



}




.dropdown {
  position: relative;
  display: flex;
  justify-content:center;
  align-items:center;
  background-color: black;
  margin: 0 3rem 0 0;
  padding: 0 2rem;
}


.dropbtn {
  background-color: black;
  color: white;
  padding: .5rem;
  font-size: 1.6rem;
  border: none;
  cursor:pointer;

  &-arrow{
    // margin: 0 3rem 0 0;
    background: black;
    color:white;
  }
}


.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  background-color: #f1f1f1;
  font-size: 1.6rem;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;

  &--link{
    padding: .5rem 0;
    text-align:center;
    &:hover{
      background: rgb(116, 116, 240);
      color:white;
      cursor:pointer;
    }
  }
}

.dropdown-content div {
  color: black;
  // padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: rgb(112, 107, 107);}

.dropdown:hover .dropdown-content {display: block;}

// .dropdown:hover .dropbtn {background-color: #3e8e41;}