@import "../../mixins/button";

.xfinity{


  &-imgContainer{
    position:relative;
    display:flex;
    justify-content:center;
    height: 100vh;

    &--img{
      height: 100vh;
    }
    &--button{
      position:absolute;
      bottom: 10%;
      left: 50%;
      transform: translateX(-50%);
      @include button;

      &:hover{
        transform: translateX(-50%) scale(1.05);
      }
      &:active{
        transform: translateX(-50%) scale(1);
      }
    }
  }

  &-series{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    font-family: tahoma;
    margin: 3rem 10%;
    font-size: 1.5rem;
  }
  &-blurp{
    
    padding: 1rem 0;
  }
  &-title{
    font-size: 2.5rem;
    font-weight:bold;
  }
  &-body{
    color:rgb(87, 85, 85);
    padding: 1rem 0;
    line-height: 2;
    letter-spacing: .5px;
    text-align:center;
  }
  &-press,
  &-download{
    color:red;
  }

  &-gallery{
    display:flex;
    flex-wrap: wrap;

    &--flex{
      flex: 0 0 25%;
      overflow:hidden;
      position:relative;
   
       
      &-youtubePlay{
        position:absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 2rem;
        height: 2rem;
        background:white;
      }

      &-youtubeBG{
        font-size: 4rem;
        position:absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        &::before{
          color:black;
          transition: .3s;
        }
      }
      
      
    }

    &--img{
      width: 100%;
      transition: .3s;
      &:hover{
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        transition: .3s;
        cursor:pointer;
      }
    }
  }


  &-modal{
    height: 100vh;
    overflow-y:hidden;
    background:black;
    
    &--header{
      display:flex;
      justify-content: space-between;
      align-items:center;
      margin: 1rem 2rem;

      &_text{
        color:white;
        font-size: 3rem;
        font-family: impact;
        letter-spacing: 3px;
        text-transform:uppercase;
      }
      &_close{
        background:white;
        color:black;
        border:none;
        border-radius: 100%;
        padding: 1rem 1.5rem;
        transition: .3s;
        &:hover{
          cursor:pointer;
          background:red;
          color:white;
          transition: .3s;
        }

      }
    }
  }

  &-movie1{
  height: 100vh;
  }

}



.carousel{
  text-align:center;
}

.carousel .slide .legend{
  opacity: 1 !important;
}


// .xtest{
//   margin-top: 24rem;
// }


.xfinity-gallery--flex:hover .xfinity-gallery--flex-youtubePlay{
  background: white;
  transition: .3s;
}
.xfinity-gallery--flex:hover .xfinity-gallery--flex-youtubeBG::before{
  color: red;
  transition: .3s;
}