
//RANGE SLIDER


.range-container{
  position: relative;
  height: 10rem;
  // z-index: 1;
  z-index: 0;
}

.range-flex{
  display:flex;
  justify-content:center;
  margin: 2rem 0;
}

.slider {
  -webkit-appearance: none;
  // width: 50%;
  width: 100%;
  height: 25px;
  position: absolute;
  background: #a4a4a4;
  outline: none;
  // z-index: 5;
  // z-index: -1;
  
}

.slider input {
  pointer-events: none;
  position: absolute;
  overflow: hidden;
  left: 25%;
  top: 15px;
  width: 50%;
  outline: none;
  height: 18px;
  margin: 0;
  padding: 0;
  // z-index: 1;
  // z-index: -1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 35px;
  background: #ea4550;
  cursor: pointer;

  pointer-events: all;
  position: relative;
  z-index: 1;
  // z-index: 0;
  outline: 0;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #ea4550;
  cursor: pointer;

  pointer-events: all;
  position: relative;
  // z-index: 10;
  z-index: 0;
  -moz-appearance: none;
  width: 9px;
}

.slider input::-moz-range-track {
  position: relative;
  // z-index: -1;
  z-index: 0;
  border: 0;
}
.slider input:last-of-type::-moz-range-track {
  -moz-appearance: none;
  background: none transparent;
  border: 0;

}
.slider input[type=range]::-moz-focus-outer {
border: 0;
}

