.carInv{
  margin-top: 8rem;
  background: rgb(231, 237, 241);

  &-filterButton--MQ--show{
    display:block;
    width: 100vw;
    padding: 1rem;
    margin: 1rem 0;
  }
  &-filterButton--MQ--hide{
    display:none;
  }

  &-header{
    padding-top: 2rem;
  }

  &-mainFlex{
    display:flex;
    justify-content: space-around;
    margin: 0 10%;

    @media screen and(max-width: 768px){
      margin: 0;
      flex-direction:column;
      align-items:center;
      justify-content: center;
    }
  }
  &-leftContainer{
    width: 30%;
  }
  &-rightContainer{
    width: 60%;
  }

  &-filter--groupHeader{
    display:flex;
    justify-content: space-around;
    background:white;
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    padding: 1.5rem 0;

    & > div:last-child{
      color: red;
      cursor:pointer;
    }

  }
  &-pricepoint{
    &--header{
      display:flex;
      justify-content: space-between;
      padding: 2rem;
    }
    &--matches{
      font-size: 2rem;
      font-family:Arial, Helvetica, sans-serif;
    }
  }
  // &-selected{
  //   // &--flex{
  //   //   display:flex;
  //   //   align-items:center;
  //   //   width: 100%;

  //   //   // &--options{
  //   //   //   display:flex;
  //   //   //   align-items:center;
  //   //   // }
  //   // }


  // }


  &-addRemoveOptions{
    display:flex;
    flex-wrap: wrap;

    &--outerFlex{
      display:flex;
      align-items:center;
      flex-wrap: wrap;
    }

    // &--innerFlex{
    //   display: flex;
    //   align-items:center;
    //   justify-content: space-around;
    //   margin: .5rem;
    //   padding-right: 1rem;
    // }
 
    &--input{
      display:none;
    }
    &--label{
      font-size: 1.6rem;
      padding: 1rem;
      display:flex;
      align-items:center;
      cursor:pointer;

      &::after{
        content: "X";
        font-size: 1rem;
        background:red;
        color:white;
        padding: .2rem .4rem;
        border-radius: 50%;
     
   
    
      }
    }

    &--flex{
      display:flex;
      align-items:center;
    }

    &--options{
      font-size: 2rem;
      text-transform:uppercase;
    }
    &--close{
      font-size: 1rem;
      font-family: Arial, Helvetica, sans-serif;
      font-weight:bold;
      margin-left: 2px;
      background: red;
      color:white;
      border-radius:5rem;
      padding: .3rem .5rem;
    }
  }


    ////////////////////////////////////////CHECKBOX options menu funcitonality

  //main container
  &-checkbox{
    padding: 0 1em;

    &--show{
      display:block;
    }
    &--hide{
      display:none;
    }

    @media screen and(max-width: 768px){
      padding: 0;
      margin: 0;
      width: 100%;
      height: 100%;
      position:fixed;
      top: 0;
      left: 0;
      z-index: 5;
      overflow:scroll;
      background: rgb(255, 255, 255)
    }
  }
  //inner container
  &-tab{
    position: relative;
    margin-bottom: 1px;
    width: 100%;
    // color: #fff;
    color: rgb(19, 18, 18);
    overflow: hidden;
    border-bottom: 1px solid rgb(172, 170, 170);

    //main header input
    &--header{
      position: absolute;
      opacity: 0;
      z-index: -1;

    //main header input label
      &-label{
        position: relative;
        display: block;
        font-size: 2rem;
        padding: 0 0 0 1em;
        // background: #16a085;
        font-weight: bold;
        line-height: 3;
        cursor: pointer;
      }
    }
    //menu content that open and closes with car trims
    &--content{
      max-height: 100vh;
      overflow: hidden;
      // background: #1abc9c;
      -webkit-transition: max-height 1.5s;
      -o-transition: max-height 1.5s;
      transition: max-height 1.5s;
      //flex wrapper for checkbox and label text 
      &-flex{
        display:flex;
        align-items:center;
        padding: 1rem 2rem;
      }
      &-input{
        margin: 0 1rem;

        &:hover{
          cursor:pointer;
        }
      }
      &-label{
        font-size: 1.4rem;
        font-family: Arial, Helvetica, sans-serif;
        font-weight:bold;
        color: rgb(49, 49, 49);
      }
    }
  }

  //when checkbox is checked max height set to 0 that menu content closes
  &-tab &-tab--header:checked ~ &-tab--content{
    max-height: 0;
    -webkit-transition: max-height .35s;
    -o-transition: max-height .35s;
    transition: max-height .35s;
  }
  //the label to show the text for what car options your choosing
  &-tab &-tab--header-label::after{
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 3em;
    height: 3em;
    line-height: 3;
    text-align: center;
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
  }
  //the open/close "x" "+" when clicked rotates to proper position
  &-tab &-tab--header[type=checkbox] + &-tab--header-label::after{
    content: "+";
    transform: rotate(45deg);
  }
  &-tab &-tab--header[type=checkbox]:checked + &-tab--header-label::after{
    transform: rotate(180deg);
  }
}

/////////////////////////////////////////////////////////////////////////////////////////////////////////////////

//WHEN CHECKBOX CLICKED FILTERED STRINGS SHOWS ON UI
.carInv-addRemoveOptions--innerFlex input{
  // opacity: 0;
}

























//RANGE SLIDER


// .range-container{
//   position: relative;
//   height: 10rem;
// }

// .range-flex{
//   display:flex;
//   justify-content:center;
//   margin: 2rem 0;
// }

// .slider {
//   -webkit-appearance: none;
//   // width: 50%;
//   width: 100%;
//   height: 25px;
//   position: absolute;
//   background: #a4a4a4;
//   outline: none;
// }

// .slider input {
//   pointer-events: none;
//   position: absolute;
//   overflow: hidden;
//   left: 25%;
//   top: 15px;
//   width: 50%;
//   outline: none;
//   height: 18px;
//   margin: 0;
//   padding: 0;
// }

// .slider::-webkit-slider-thumb {
//   -webkit-appearance: none;
//   appearance: none;
//   width: 15px;
//   height: 35px;
//   background: #ea4550;
//   cursor: pointer;

//   pointer-events: all;
//   position: relative;
//   z-index: 1;
//   outline: 0;
// }

// .slider::-moz-range-thumb {
//   width: 20px;
//   height: 20px;
//   background: #ea4550;
//   cursor: pointer;

//   pointer-events: all;
//   position: relative;
//   z-index: 10;
//   -moz-appearance: none;
//   width: 9px;
// }

// .slider input::-moz-range-track {
//   position: relative;
//   z-index: -1;
//   border: 0;
// }
// .slider input:last-of-type::-moz-range-track {
//   -moz-appearance: none;
//   background: none transparent;
//   border: 0;

// }
// .slider input[type=range]::-moz-focus-outer {
// border: 0;
// }












.carInv{
  &-color{
    width: 4rem;
    height: 4rem;
    border-radius: .5rem;
    box-shadow: 2px 1px 5px rgb(129, 129, 129);
    margin-right: 1rem;
    
    &--text{
      letter-spacing: 1px;
    }

    &--white{
      background:white;
    }
    &--black{
      background: black;
    }
    &--gray{
      background:rgb(175, 172, 172);
    }
    &--smoke{
      background:rgb(126, 124, 124);
    }
    &--blue{
      background: blue;
    }
    &--red{
      background: red;
    }
  }
}