


// .buildCar {
//   margin-bottom: 3rem;

//   &2{
//     margin-bottom: 1rem;
//   }
//   &-main{
//     margin-top: 3rem;

//   }
//   &-main2{
//     width: 100%;
//     // height: 30vh;
//     height:25vh;
//     position: relative;
//     margin-top: 3rem;
//     background-color: transparent;
//     z-index: 1;

//     &--buffer{
//       background-color: white;
//       width: 140rem;
//       height: 32%;
//       position: fixed;
//       top: 0;

//     }
//   }
//   &-contain{
//     position:relative;
//     width: 100%;
//     display:flex;
//     justify-content:space-around;
//     align-items:center;
    
//   }
//   &-contain2{
//     position: fixed;

//     top: 5%;
//     width: 140rem;
//     display:flex;
//     justify-content:space-around;
//     align-items:center;
//   }

//   &-img {
//     position: relative;
//     left: 50%;
//     transform: translateX(-50%);

//     transition: .2s;
//     z-index: 0;
//     width: 60rem;
//   }
//   &-img2{
//     position: relative;
//     width: 40rem;
//     top: 0;
//     left: 90%;
//     transform: translateX(-50%);
//     transition: .5s;
//     z-index: 0;
//   }
//   &-containTitle{
//     display:flex;
//     flex-direction:column;
//     align-items:center;
//     text-transform: uppercase;
//   }
//   &-yourBuild{
    // font-size: 2rem;
    // font-family: Arial, Helvetica, sans-serif;
//   }
//   &-title{
//     font-size: 5rem;
//     font-family: 'Kanit', sans-serif;
//   }
  
//   &-price {
//     font-size: 3rem;
//     font-family: 'Kanit', sans-serif;
//     font-weight:bold;
//     margin-right: 5rem;
//   }

//   &-changeAngle {
//     position: absolute;
//     top: 50%;
//     right: 0;
//     // z-index: 9;
//     cursor: pointer;
//     background-color: rgb(189, 184, 184);
//     color: white;
//     border: none;
//     padding: 1rem .5rem;
//     transition: .2s;

//     &:hover {
//       background-color: rgb(92, 92, 167);
//     }
//     &:focus{
//       outline: none;
//     }
//   }


//   &-panel{
//     height: 9rem;
//     display: flex;
//     justify-content: center;
//     background-color: rgb(44, 41, 41);
//     // z-index: 1;
//     position: fixed;
//     left: 0;
//     width: 100vw;
//     // border-bottom: 2px solid $buildCarBackgroundPanelActive;
    
//     &-buttons{
//       width: 10%;
//       height: 9rem;
//       background-color: rgb(44, 41, 41);
//       border-right: 1px solid $buildCarBackgroundPanelActive;
//       display: flex;
//       flex-direction: column;
//       align-items: center;
//       justify-content: center;
//       transition: .3s;
//       cursor: pointer;
//       color:white;
//       // border-bottom: 2px solid $buildCarBackgroundPanelActive;
    
//       &_border{
//         border-left: 1px solid $buildCarBackgroundPanelActive;
//       }
    
//       &:hover {
//         background-color: red;
//       }
//     }
  
//   &-text {
//     text-transform: uppercase;
//     font-size: .9rem;
//     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
//     font-weight: bold;
//     letter-spacing: 1px;

//     &--summary{
//       font-size: 2rem;
//       font-family: tahoma;
//       }
//     }
//   }
//   &-panel2{
//     position: fixed;
//     width: 100vw;
//     height: 9rem;
//     top: 25%;
//     left: 0;
//     display: flex;
//     justify-content: center;
//     background-color: rgb(44, 41, 41);
//     transition: .2s;
//     z-index: 2;
//     animation: navMoveSmall .5s;
//     animation-fill-mode: forwards;
//     border-top: 2px solid transparent;
//     // border-bottom: 2px solid $buildCarBackgroundPanelActive;
//   }
// }


// .buildCar-button:hover > .fa-arrow-circle-right {
//   animation: moveButton 2s;
//   animation-fill-mode: forwards;
//   animation-iteration-count: infinite;
// }



// .buildCar-options--container{
//   // width: 100%;
//   // height: 50rem;
//   // margin-top: 12rem;
//   background:$buildCarBackgroundPanelActive;
// }
// .buildCar-options--container2{
//   // margin-top: 6rem;
//   background:$buildCarBackgroundPanelActive;
// }
// .panel-inactive{
//   border-top: 2px solid transparent;
// }
// .panel-active {
//   // &:not(:last-child){
//   //   background:white;
//   //   color: black;
//   //   border-top: 2px solid red;
//   // }
//   background:$buildCarBackgroundPanelActive;
//   color: black;
//   border-top: 2px solid red;
//   // border-bottom: 2px solid $buildCarBackgroundPanelActive;
//   // backface-visibility: hidden;

//   &-text{
//     color: black;
//     text-decoration:underline;
//   }
//   &:hover{
//     background: $buildCarBackgroundPanelActive;
//   }

// }


// @media screen and(min-width:1440px){

//   .buildCar{
  
//     &-main2{
//       height: 20vh;

//       &--buffer{
//         // min-width: 100vw !important;
//         // left: 0;
//       }
//     }
//     &-options{
//       &--container{
//         // margin-top: 8rem;
//         margin-top: 5rem;
//         // min-width: 100vw !important;
//         // position:absolute;
//         // left: 0;
//         // z-index: -1;
//       }
//       &--container2{
//         margin-top: 0;
//         min-width: 100vw !important;
//         position:absolute;
//         left: 0;
//         z-index: -1;
//       }
//     }
  
  
//   }
//   .buildCar-panel2{
//     animation: navMove .5s;
//     animation-fill-mode: forwards;
//   }

//   .buildCar-main2--buffer{
//     height: 25%;
//     min-width: 100vw !important;
//     left: 0;
//   }
// }

// @keyframes navMove{
//   0%{
//     transform: translateY(20%);
//   }
//   100%{
//     transform: translateY(-80%);
//   }
// }
// @keyframes navMoveSmall{
//   0%{
//     transform: translateY(20%);
//   }
//   100%{
//     transform: translateY(-20%);
//   }
// }













// @keyframes moveButton {
//   0% {
//     left: 0;
//   }
//   100% {
//     left: 100%;
//   }
// }
















.buildCar{

  &-section{
    // position:relative;
    // z-index: 2;
    margin-top: 5rem;
    // height: 50%;
    background:$buildCarBackgroundPanelActive;
    min-width: 100vw;
    position:absolute;
    left: 0;
  }
  &-sectionScroll{
    background:$buildCarBackgroundPanelActive;
    min-width: 100vw;
    position:absolute;
    left: 0;
    padding-top: 35rem;
    // padding-top: 2%;
    // transition: 3s;
  }

  &-mainContainer{
    background:white;
  }
  &-mainContainerScroll{
    background:white;
    position:fixed;
    top: 0;
    padding-top: 5rem;
    z-index: 1;
    min-width: 100vw;
  }

  
  &-mainInnerContainer{
    display:flex;
    justify-content: space-around;
    align-items:center;
  }

  &-yourBuild{
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
  }

  &-titleFlex{
    display:flex;
    flex-direction:column;
    align-items:center;
  }
  &-title{
    font-size: 5rem;
    font-family: 'Kanit', sans-serif;
    text-transform: uppercase;
    font-weight:bold;
  }

  &-img{
    width: 100%;
    transition: .5s;
  }

  &-imgScroll{
    width: 50%;
    transform: translateX(100%);
    transition: .5s;
  }

  &-priceButtonFlex{
    display:flex;
    position:relative;
    z-index: 0;
  }
  

  &-price {
    font-size: 3rem;
    font-family: 'Kanit', sans-serif;
    font-weight:bold;
    margin-right: 5rem;
  }


  &-panelContainer{
    display:flex;
    justify-content: center;
    background: rgb(20, 20, 20);
  }

  &-border{
    border-left: 2px solid gray;
  }

  &-panelActive{
    background:$buildCarBackgroundPanelActive;
    border-top: 2px solid red;
    transition: .3s;
    color:black;

    & > p{
      color:rgb(20, 20, 20);;
    }
    & > .fas{
      color:rgb(20, 20, 20);;
    }

    &:hover{
      background: $buildCarBackgroundPanelActive;
    }
  }

  &-panelInactive{
    border-top: 2px solid transparent;

    &:hover{
      background: red;
    }
  }

  &-panelButtons{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    padding: 0 2rem;
    width: 15rem;
    border-right: 2px solid gray;
    transition: .3s;
    color:white;

    &:hover{
      cursor:pointer;
      transition: .3s;
    }

    &-text{
      font-size: 1.6rem;
      text-transform: uppercase;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-weight: bold;
      letter-spacing: 1px;
      position:relative;

      &:last-child{
        font-size: 2rem;
      }
    }
  }
  &-panelContentNoScroll{
    padding-top: 5rem;
  }
  &-panelContentScroll{
    // padding-top: 5rem;
    // padding-top: 0;
    animation: testing .7s;
    animation-fill-mode: forwards;
  }


}


// @media screen and (max-width: 1300px){
//   .buildCar{
//     &-panel1440Scroll{
//       // margin-top: 20rem;
//       // margin-top: 12rem;
//     }
//   }
// }


@keyframes testing {
  0%{
    padding-top: 10rem;
  }
  100%{
    padding-top: 0;
  }
}