.buildCar{

  &-section{
    margin-top: 5rem;
    background:$buildCarBackgroundPanelActive;
    min-width: 100vw;
    width: 100vw;
    position:absolute;
    left: 0;
  }
  &-sectionScroll{
    background:$buildCarBackgroundPanelActive;
    min-width: 100vw;
    width: 100vw;
    position:absolute;
    left: 0;
    padding-top: 35rem;

    @media screen and(max-width:500px){
      padding-top:30rem;
    }
  }

  &-mainContainer{
    background:white;
  }
  &-mainContainerScroll{
    background:white;
    position:fixed;
    top: 0;
    padding-top: 5rem;
    z-index: 1;
    min-width: 100vw;
    width: 100vw;

    @media screen and(max-width:768px){
      animation: moveUp .3s forwards ease-in;
    }
  }

  
  &-mainInnerContainer{
    display:flex;
    justify-content: space-around;
    align-items:center;
    padding: 0 .5rem;

    @media screen and(max-width:1200px){
      padding: 0 1rem;
    }
    @media screen and(max-width:768px){
      flex-direction:column;
    }
  }

  &-yourBuild{
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;

    @media screen and(max-width:768px){
      display:none;
    }
  }

  &-titleFlex{
    display:flex;
    flex-direction:column;
    align-items:center;
  }
  &-title{
    font-size: 5rem;
    font-family: 'Kanit', sans-serif;
    text-transform: uppercase;
    font-weight:bold;
  }

  &-imgContain{
    width: 100%;
  }

  &-img{
    width: 100%;
    transition: .5s;



    
    @media screen and(max-width: 1200px){
      width: 80%;
      margin-left: 8rem;
    }
    @media screen and(max-width: 1200px){
      width: 80%;
      margin-left: 8rem;
    }
    @media screen and(max-width: 768px){
      width: 50%;
      margin-left: 0;
      display:block;
      margin: 0 auto;
      
    }
  }

  &-imgScroll{
    width: 50%;
    transform: translateX(100%);
    transition: .5s;

    @media screen and(max-width:768px){
      transform: translateX(0);
      display:block;
      margin: 0 auto;
    }
  }

  &-priceButtonFlex{
    display:flex;
    position:relative;
    z-index: 0;


  }

  &-changeAngle{
    @media screen and(max-width: 768px){
      display:none;
    }
  
  }
  

  &-price {
    font-size: 3rem;
    font-family: 'Kanit', sans-serif;
    font-weight:bold;
    margin-right: 5rem;

    @media screen and(max-width: 768px){
      margin: 0;
    }
  }

  &-panelContainer{
    display:flex;
    justify-content: center;
    background: rgb(20, 20, 20);
  }

  &-border{
    border-left: 2px solid gray;
  }

  &-panelActive{
    background:$buildCarBackgroundPanelActive;
    border-top: 2px solid red;
    transition: .3s;
    color:black;

    & > p{
      color:rgb(20, 20, 20);;
    }
    & > .fas{
      color:rgb(20, 20, 20);;
    }

    &:hover{
      background: $buildCarBackgroundPanelActive;
    }
  }

  &-panelInactive{
    border-top: 2px solid transparent;

    &:hover{
      background: red;
    }
  }

  &-panelButtons{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    padding: 0 2rem;
    width: 15rem;
    border-right: 2px solid gray;
    transition: .3s;
    color:white;

    @media screen and(max-width:768px){
      padding: .5rem;
    }

    &:hover{
      cursor:pointer;
      transition: .3s;
    }

    &-text{
      font-size: 1.6rem;
      text-transform: uppercase;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-weight: bold;
      letter-spacing: 1px;
      position:relative;

      @media screen and(max-width:768px){
        font-size: 1rem;
      }
      @media screen and(max-width:500px){
        &:not(:last-child){
          display:none;
        }
      }

      &:last-child{
        font-size: 2rem;

        @media screen and(max-width:768px){
          font-size: 1rem;
        }
        @media screen and(max-width:768px){
          font-size: .8rem;
        }
      }
    }
  }
  &-panelContentNoScroll{
    padding-top: 5rem;
  }
  &-panelContentScroll{
    // padding-top: 5rem;
    // padding-top: 0;
    animation: panelScroll .7s;
    animation-fill-mode: forwards;

    @media screen and(max-width: 500px){
      animation: panelScrollMQ .7s forwards;
    }
  }


}



.fas.fa-car,
.fas.fa-cogs,
.fas.fa-tags,
.fas.fa-images,
.fas.fa-calculator{
  @media screen and(max-width:768px){
    font-size: 1.2rem;
  }
}



@keyframes panelScroll {
  0%{
    padding-top: 10rem;
  }
  100%{
    padding-top: 0;
  }
}
@keyframes panelScrollMQ {
  0%{
    padding-top: 2rem;
  }
  100%{
    padding-top: 0;
  }
}


@keyframes moveUp {
  0%{
    padding-top: 5rem;
  }
  100%{
    padding-top: .5rem;
  }
}
