@import "../../mixins/buildCarOptions-header";

$iconBackgroundColor: rgb(206, 206, 209);

.finance{
  &-form{

  }
  &-header{
    @include buildCarHeader;
  }
  
  &-inputContain{
    width: 100%;
    margin: 1rem 0;
    display:flex;
    justify-content:center;
    align-items:center;
   
  
  }
  &-icon{
    background:$iconBackgroundColor;
    height: 2rem;
    width: 2%;
    border: 2px solid $iconBackgroundColor;
    display:flex;
    justify-content: center;
    align-items:center;
    font-size: 2rem;
    padding: 1rem;
  }
  &-input{
    margin: 1rem 0;
    width: 25%;
    height: 2rem;
    padding: 1rem;

    &:focus{
      outline-color: red;
    }

    &--submit{
      // width: 31%;
      width: 29%;
      padding: 1rem;
      transition: .3s;
      font-family: helvetica;
      background: rgb(61, 61, 218);
      color:white;

      &:hover{
        cursor:pointer;
        background: red;
        color:white;
        transition: .3s;
      }
    }
  }
  // &-gifLoading{
  //   display:block;
  //   margin: 2rem auto 0 auto;
  // }

  &-loading{
    border-top: 2px solid red;
    border-bottom: 2px solid red;
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display:block;
    margin: 3rem auto 0 auto;
    animation: spinner 0.7s linear infinite;
  }

  &-inputReturnInfo{
    background: $iconBackgroundColor;
    width: 10%;
    height: 4.2rem;
    padding: 0 1rem;
    font-size: 1.6rem;
    text-transform:uppercase;
    display:flex;
    align-items:center;
    justify-content:center;
  }


&-inputText{
  text-align:center;
}

  &-inputReturnTotals{
    background: white;
    border: 1px solid $iconBackgroundColor;
    font-size: 2rem;
    display:flex;
    align-items:center;
    justify-content:center;
    width: 17.5%;
  }

  &-show{
    display:block;
  }
  &-hide{
    display:none;
  }

  &-error{
    height: 5rem;
    display:flex;
    justify-content: center;
    align-items:center;
    background: red;
    color:white;
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:bold;
    text-transform:uppercase;
    letter-spacing: .5rem;
  }
  &-showError{
    display: flex;
  }
  &-hideError{
    display:none;
    


  }
}

input[type=submit].finance-input--submit{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
}


@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
